/* css */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
div#jeodpp-image-slider-wrapper {
    position: absolute;
	z-index: 2;
    bottom: 5%;
    width: 96%;
    left: 2%;
    padding: 5px 30px 25px 30px;
    background: #fffc;
    border-radius: 5px;
	display: flex;
}
div#jeodpp-slider-offset {
    padding: 0 3em;
	position: relative;
	flex-grow: 1;
	bottom: -10px;
	display: flex;
    height: fit-content;
    align-self: center;
}
#jeodpp-menu-container #jeodpp-menu {
    position: absolute;
	z-index: 2;
    top: 10%;
    width: 50%;
    left: 25%;
    padding: 20px;
    background: #fffc;
    border-radius: 5px;
}

div#jeodpp-cloud-cover {
    margin: 10px 0px 50px 0px;
}

#jeodpp-cloud-cover .noUi-tooltip {
    display: none;
}
#jeodpp-cloud-cover .noUi-active .noUi-tooltip {
    display: block;
}

.noUi-value.noUi-value-horizontal.noUi-value-large {
    padding: 50px 0px 10px 0;
    top: -65px;
	cursor: pointer;
    z-index: 200;
}
.jeodpp-date-hovered{
    color: #b1c8d3;
}
.jeodpp-date-selected{
    font-weight: bold;
    font-size: 1.1em;
	pointer-events: none;
}

button.button-jeodpp-menu.toggle-on,
button.button-jeodpp-slider.toggle-on {
    background: #ed5565;
	color: #ffffff;
}

input#jeodpp-daterange {
    margin-bottom: 20px;
}

.hidden{
	display: none;
}

.jeodpp-image-slider .noUi-base {
    background: transparent !important;
    background-color: transparent !important;
}
.jeodpp-image-slider .noUi-tooltip {
    background: #b1c8d3;
    color: white;
    border: none;
}
.jeodpp-image-slider .noUi-handle.noUi-handle-lower {
    height: 60px;
	right: -20px !important;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #b1c8d3;
    background: transparent;
	pointer-events: none;
	box-shadow: none;
}

.jeodpp-image-slider .noUi-touch-area {
    pointer-events: none;
}
div.jeodpp-opacity-slider {
    border: 1px solid #c3c3c3;
	height: fit-content;
    position: relative;
    margin: 60px 0px 0px 0px;
}
div.jeodpp-opacity-slider .noUi-handle {
    width: 16px;
    height: 16px;
    top: -8px;
	right: -8px;
    border-radius: 50%;
}
.noUi-handle:after, .noUi-handle:before {
    display: none;
}
div.jeodpp-image-slider-wrapper {
    width: 100%;
}

div.jeodpp-image-slider {
    margin: 30px 0px;
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid gray;
    border-radius: 0px !important;
}

.mapboxgl-ctrl.jeodpp-menu-toggle {
    font-size: 1.5em;
}

h5.jeodppoffset {
    width: max-content;
}

#jeodpp-slider-offset select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: auto;
}

/* CAUTION: IE hackery ahead */
#jeodpp-slider-offset select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    #jeodpp-slider-offset select {
        background:none\9;
        padding: 5px\9;
    } 
}